<div class="w-50 mx-auto my-5 ">
    <h1 class="text-center">Forgot Password?</h1>

    <%= form_with url: password_reset_create_path, data:{ turbo: false }, class: "form mt-5", local: true do |f| %>
        <div class="mb-3">
            <%= f.label :email %><br>
            <%= f.email_field :email, placeholder: "Enter email address", class: "form-control", required: true %>
        </div>

        <%= f.submit "Reset Password", class: "btn btn-success" %>
    <% end %>
</div>