
<div class="d-flex justify-content-between">
    <h2>Twitter Accounts</h2>
    <%= button_to "Connect a Twitter Account", "/auth/twitter", method: :post, class: "btn btn-primary rounded bg-gradient", data: {turbo: "false"} %>
</div>

<div class="accounts my-4 row">
    <%= render partial: "shared/account_card", collection: @twitter_accounts, as: :account  %>
</div>
